<div class="container px-5 text-justify">
  <div class="px-5">
    <%= render "components/title", title: "Un passage en force!" %>

    <p>
      Super! Cet employé s'est laissé piégé 
      et le programme vous renvoie un imprime écran du moment où 
      l'utilisateur a cherché à se connecter au site. Voici cet imprime écran.
    </p>

    <div class="text-center mb-5 connection">
      <%= image_tag "connection.png", width: "900px"%>
      <div class="nick-name"><%= current_user.employee_nick_name %></div>
      <div class="email"><%= current_user.employee_email %></div>
    </div>    


    <p>
      Grâce à cet imprime écran, vous pouvez voir quel est le pseudo de 
      l’employé. Par-contre vous ne pouvez pas voir son mot de passe. 
      Rassurez-vous, il existe plusieurs techniques pour trouver 
      un mot de passe à 6 chiffres. 
      L’une des techniques s’appelle l’attaque en force. 
      Elle consiste à tester les mots passes les plus utilisés en espérant 
      que l’utilisateur en a choisi un parmi cela.
      La liste des mots de passe les plus utilisés en 2020 est disponible à 
      <a target="_plank" href="https://nordpass.com/fr/most-common-passwords-list/">cette adresse</a> 
    </p>

    <%= render "components/dashboard", db: false %>
  </div>
</div>
